[MASTER]
disable=
    C0103, # invalid-name
    C0114, # missing-module-docstring
    C0115, # missing-class-docstring
    C0116, # missing-function-docstring
    C0321, # multiple-statements
    R0401, # cyclic-import
    R0801, # duplicate-code
    R0902, # too-many-instance-attributes
    R0903, # too-few-public-methods
    R0912, # too-many-branches
    R0913, # too-many-arguments
    R0914, # too-many-locals
    W0221, # arguments-differ
    W0703, # broad-except
    E1102, # not-callable

init-hook="from pylint.config import find_pylintrc; import os, sys; sys.path.append(os.path.dirname(find_pylintrc()))"

extension-pkg-whitelist=numpy,cv2,torch,GoodsReq

ignore-patterns=goods_flask_pb2.py

[FORMAT]
max-line-length=80

[MISCELLANEOUS]
notes=

[TYPECHECK]
ignored-modules=numpy,cv2,torch,GoodsReq
ignored-classes=numpy,cv2,torch,GoodsReq
