[MASTER]
disable=
    C0114, # missing-module-docstring
    C0115, # missing-class-docstring
    C0116, # missing-function-docstring
    C0321, # multiple-statements
    C0326, # bad-whitespace
    R0914, # too-many-locals
    R0902, # too-many-instance-attributes
    R0903, # too-few-public-methods
    R0913, # too-many-arguments
    R1710, # inconsistent-return-statements
    W0221, # arguments-differ
    W0612, # unused-variable

[TYPECHECK]
generated-members=numpy.*,
                  torch.*,
                    cv2.*,

[FORMAT]
max-line-length=80

[BASIC]
attr-rgx=[a-z_][a-z0-9_]{0,30}$
argument-rgx=[a-z_][a-z0-9_]{0,30}$
variable-rgx=[a-z_][a-z0-9_]{0,30}$

[MISCELLANEOUS]
notes=
