[MASTER]
disable=
    C0103, # invalid-name
    C0114, # missing-module-docstring
    C0115, # missing-class-docstring
    C0116, # missing-function-docstring
    C0321, # multiple-statements
    C0326, # bad-whitespace
    R0902, # too-many-instance-attributes
    R0903, # too-few-public-methods
    R0912, # too-many-branches
    R0913, # too-many-arguments
    R0914, # too-many-locals
    R1710, # inconsistent-return-statements
    W0221, # arguments-differ
    W0612, # unused-variable

extension-pkg-whitelist=numpy,cv2

init-hook="from pylint.config import find_pylintrc; import os, sys; sys.path.append(os.path.dirname(find_pylintrc()))"

[FORMAT]
max-line-length=80

[MISCELLANEOUS]
notes=



